{% extends "base.html" %}
{% block content %}
You might want to download and install the <a href="/cert.pem">Root CA cert</a> of this site.<br />
<div class="formRow">{{msg}}</div>
<form method="POST" action="/settings/register/">
   <input type="hidden" name="csrf" value="{{csrf}}" />
   <table>
      <tr>
         <td>Email address</td>
         <td><input type="text" name="email"></input></td>
      </tr>
      <tr>
         <td>Name</td>
         <td><input type="text" name="name"></input></td>
      </tr>
      <tr>
         <td></td>
         <td><keygen name="key" /></td>
      </tr>
      <tr>
         <td></td>
         <td><input type="submit" value="Go"></td>
      </tr>
   </table>
</form>
{% endblock %}
